*{
    box-sizing: border-box;
}
.Notes{
   margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 90px;
    padding-right:90px ;
 
}
.Note{
    border: 1px solid black;
    margin:10px;
    padding: 4px;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-wrap:break-word;
}
.buutons{
    display: flex;
}
.delbut{
    width: 100px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: red;
    border: 1px solid red;
}
.editbut{
    width: 100px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
}